# Ambientes virtuais
venv/
.venv/

# Arquivos de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Configs do VSCode
.vscode/

# Arquivos temporários
*.log
*.tmp

# Ignorar ambiente virtual e arquivos locais
venv/
.env
__pycache__/
*.pyc

.gitignore
